* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(227, 223, 223),
    rgb(250, 250, 250)
  );
}

head {
}

header {
  display: grid;
  justify-content: center;
}

header p#main-title {
  /* border: 2px solid red; */
  font-size: 5rem;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  padding-top: 2.5rem;
}
/* span{
  text-decoration:overline
}
span.sec{
  text-decoration:underline;
  
} */
main {
  display: grid;
  justify-content: center;
}

section {
  width: 100%;
  margin: 1rem auto;
  max-width: 1140px;
  max-height: 610px;
  padding: 6rem 4rem;
  display: flex;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.148);
  border-radius: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 17px 17px 34px #bababa, -17px -17px 34px #ffffff;
}
section:hover {
  transform: scale(1.03);
}
div.photo {
  /* border: 3px solid red; */
  /* overflow: hidden; */

  /* position: relative; */
}
img {
  display: inline;
  width: 400px;
}
div.info {
  padding-left: 30px;
  /* width: 390px; */
  height: 270px;
  flex-direction: column;
}
h2 {
  /* padding-top: 27px; */
}
p {
  display: block;
  text-indent: 20px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  height: 13rem;
}

button {
  display: flex;
  float: right;
  padding: 10px;
  border: none;
  background-color: rgb(76, 76, 76);
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(148, 147, 147);
}

a {
  text-decoration: none;
  color: white;
}
a:active {
}

img:active {
}
